@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Mulish:wght@200&family=Source+Sans+Pro:wght@200;300&display=swap");
* {
  margin: 0;
  font-family: "Ibarra Real Nova", serif;

  font-family: "Mulish", sans-serif;

  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  /* background-color: #333; */
}
.navbaar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: antiquewhite;
  border-radius: 5px;
}
.navbaar h1 {
  color: #008080;
}
.navbaar .links {
  margin-left: auto;
}
.navbaar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbaar a:hover {
  color: #008080;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

#home_button {
  margin: 10px;
  background-color: "#008080 ";
  color: white;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #008080;
  margin-bottom: 8px;
}
.darkmode {
  display: flex;
  margin: auto;
  align-items: center;
}
.Darkmode {
  margin-left: 3px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-detail h2 {
  color: #008080;
  margin-bottom: 20px;
}
.author h3 {
  color: #008080;

  margin-left: 0px;
  margin-top: 20px;
}
.create {
  margin-top: 0 auto;
  max-width: 400px;
  text-align: center;
  margin: auto;
}
.create label {
  text-align: center;
  display: block;
}
.create h2 {
  color: #008080;
  font-size: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #333;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  height: 50px;
}
.create button {
  background-color: #008080;
  color: #ddd;
  border: 0px;
  border-radius: 2px;
}
